[Unit]
Description=Empatica Flask App (Gunicorn)
After=network.target

[Service]
User=%i
WorkingDirectory=/home/%i/app
Environment=APP_SECRET_KEY=change_me
ExecStart=/home/%i/app/.venv/bin/gunicorn -w 2 -b 127.0.0.1:8000 server:app
Restart=always

[Install]
WantedBy=multi-user.target
